<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <h2 style="color:black">Log In</h2>
  </div>
</nav>
<div class="col-md-6" id="centered">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<br/><br/>
<div id="centered-horizontal"
<%= render "devise/shared/links" %>
</div>
</div>
